packet_auth_token  = "xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
packet_project_id  = "yyyyyy-yyyyy-yyyyyyyy-yyyyyyyyyy"
deploy_prefix      = "kayobe"
lab_count          = 1
standalone_monasca = false
packet_facility    = "any"
lab_repo_branch    = "master"
